# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives**
- List popular languages for Data Science
- List commonly used libraries in Data Science
- List most popular SDataa Science Tools

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala
5. Java
6. C++

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Seaborn
4. Keras
5. TensorFlow
6. PyTorch

Data Science Tools

| Jupyter Notebook|

| RStudio |

| Apache Spark|

### Below are a few examples of evaluating arithmetic expressions in Python
- Addition: 4+5
- Substraction: 5-4
- Multiplicaciones: 5*4
- Combos: (4+5)*5

In [1]:
# This a simple arithmetic expression to mutiply then add integers.
(3*4)+5

17

In [2]:
# This will convert 200 minutes to hours by diving by 60.
200/60

3.3333333333333335

## Author:
Oscar R. Mej√≠as